<h1>Administración de productos</h1>
<hr>

<a routerLink="/admin/productos/nuevo">Nuevo producto</a>
<hr>

<p *ngIf="eliminacion$ | async as mensaje" class="mensaje">
  {{ mensaje }}
</p>

<h2>Productos</h2>

<div *ngIf="productos$ | async as productos">
  <p *ngIf="productos.length === 0">
    No hay productos disponibles.
  </p>

  <app-tabla-productos
    *ngIf="productos.length > 0"
    [productos]="productos"
    (editar)="editar($event)"
    (eliminar)="eliminar($event)">
  </app-tabla-productos>
</div>